/* hero */
.hero {
    background-color: var(--background-dark);
}

.hero-container {
    background-color: var(--background-dark);
    margin: 0 auto 40px auto;
    padding: 40px 40px;
    max-width: 1200px;
    height: 80vh;
    display: flex;
    justify-content: space-between;
}

.hero-text {
    height: fit-content;
    margin: auto 0;
    padding-right: 40px;
}

.hero h1 {
    max-width: 750px;
    color: var(--white);
    font-size: var(--fs-xl);
    font-family: Outfit;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.4px;
    margin-bottom: 40px;
}

.hero-link {
    max-width: 160px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.hero-link-item {
    min-width: 38px;
    min-height: 38px;
    flex-shrink: 0;
    border-radius: 38px;
    background: var(--btn-yellow);
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-link-item-img {
    margin: auto;
}

.hero-img {
    @media (min-width: 480px) {
        max-width: 450px;
    }
}

/* @media screen and (min-width: 580px) {
    .hero-img {
        max-width: 500px;
        height: auto;
    }
} */
.hero-cta-btn {
    display: block;
    text-decoration: none;
    max-width: fit-content;
    background-color: var(--btn-yellow);
    color: black;
    padding: 15px 50px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    margin-bottom: 20px;
}

@media screen and (max-width: 890px) {
    .hero-container {
        margin: 0 auto;
        padding: 0 40px;
        max-width: 1200px;
        display: grid;
        grid-template-areas:
            ".hero-text"
            ".hero-img"
        ;
    }

    .hero-img {
        grid-area: hero-img;
    }

    .hero-text {
        grid-area: hero-text;
    }
}

/* ingredient */
/* (mobile first) */
.ingredient {
    background-color: var(--background-light);
}

.ingredient-title {
    font-family: Outfit;
    font-style: normal;
    text-align: center;
    font-size: var(--fs-l);
    color: var(--background-dark);
}

.ingredient-container {
    background-color: var(--background-light);
    margin: 0 auto 40px auto;
    padding: 0 40px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}

/* for dekstop */
@media screen and (min-width: 890px) {
    .ingredient-container {
        flex-direction: row;
        justify-content: space-between;
    }
}

.ingredient-card {
    max-width: 300px;
    text-align: center;
}

.ingredient-card img {
    border-radius: 100%;
}

.ingredient-card h3 {
    color: var(--font-dark);
    font-size: 30px;
}

/* statistics */
.graph-card {
    background-color: var(--background-dark);
    max-width: 1200px;
    border-radius: 16px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 0 auto 40px auto;
    padding: 40px 60px;
    max-width: fit-content;
}

@media screen and (max-width: 890px) {
    .graph-card {
        border-radius: 0px;
        margin: 0;
        padding: 0;
    }
}

.graph-card h2,
.graph-card p {
    color: var(--white);
}

.graph-card h2 {
    font-size: var(--fs-m);
    margin: 0;
}

.graph-card img {
    margin: 0 0;
    border-radius: 18px;
}

@media screen and (max-width: 890px) {
    .graph-card {
        text-align: center;
        padding: 40px;
    }

    .graph-card h2 {
        font-size: var(--fs-m);
    }

    .graph-card img {
        margin: 0;
        border-radius: 0px;
    }
}

/* box-c */
.box-c {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    min-height: fit-content;
}

.box-c-img {
    min-height: 120px;
    background-image: url(./../image/kalkulator-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box-c-down {
    max-width: 1200px;
    padding: 20px 40px;
    background-color: var(--background-dark);
    color: var(--white);
}

@media screen and (min-width: 800px) {
    .box-c {
        position: relative;
        flex-direction: row;
        margin: 180px auto 80px;
        min-height: 400px;
        align-items: center;
        padding: 0 40px;
    }

    .box-c-down {
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        z-index: 1;
        align-self: flex-end;
        border-radius: 18px;

        margin: 0 auto 0 120px;
        padding: 80px 120px 80px 240px;
    }

    .box-c-img {
        position: absolute;
        z-index: 2;
        top: -80px;
        min-width: 300px;
        min-height: 300px;
        border-radius: 18px;
    }
}

.box-c-title {
    max-width: 600px;
    margin: 0;
    text-align: justify;
    font-size: var(--fs-m);
}

.box-c-text {
    max-width: 600px;
    font-family: Inter;
    font-size: var(--fs-xs);
    text-align: justify;
}

.link-kalkulator {
    max-width: 160px;
    text-align: center;
    padding: 10px 40px;
    background-color: var(--btn-yellow);
    border-radius: 12px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

    text-decoration: none;
    color: black;
}

.rs-container {
    max-width: 1200px;
    margin-bottom: 80px;

    @media (min-width: 800px) {
        display: flex;
    }

    @media (min-width: 1200px) {
        margin: 0 auto;
    }
}

.rs-content-container {
    align-items: center;
    margin: auto 0;
}

.rs-title {
    color: #8E2800;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Outfit;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}

.rs-text {
    color: #8E2800;
    text-align: justify;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}