:root {
    --card-line-height: 1.2em;
    --card-padding: 1em;
    --card-radius: 0.5em;
    --bg-dark: #8E2800;
    --color-white: #fff;

    --radio-border-width: 2px;
    --radio-size: 1.5em;
}

.flex-v {
    display: flex;
    flex-direction: column;
}

.faq-header {
    background-color: var(--background-dark);
}

.title {
    text-align: center;
    font-family: Outfit;
    font-size: var(--fs-l);
    padding: 40px 20px;
    margin: 40px 40px;
    max-width: 1200px;

    color: var(--white);
    background-color: var(--background-dark);
}

.faq-container {
    max-width: 1200px;
    padding: 80px 40px;
    color: var(--white);
    margin: 0 auto 80px;

    @media (min-width: 1200px) {
        padding: 80px 0;
    }
}

.faq-header h1 {
    color: var(--white);
    font-size: var(--fs-l);
    font-family: Outfit;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-align: left;
}

main {
    max-width: 1200px;
    margin: 0 40px;

    @media (min-width: 1200px) {
        margin: 0 auto 80px;
    }
}

.grid {
    display: grid;
    grid-gap: var(--card-padding);
    padding: 0;

    @media (min-width: 30em) {
        grid-template-columns: repeat(3, 200px);
    }
}

.gender-card {
    background-color: #fff;
    border-radius: var(--card-radius);
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    max-width: 200px;
    margin-top: 0;
    margin-bottom: 0;
}

.gender-img {
    max-width: 76px;
    margin: 0 auto;
}

.radio {
    font-size: inherit;
    margin: 0;
    position: absolute;
    right: calc(var(--card-padding) + var(--radio-border-width));
    top: calc(var(--card-padding) + var(--radio-border-width));
}

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    .radio {
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .card:hover .radio {
        border-color: var(--color-dark-gray);

        &:checked {
            border-color: var(--bg-dark);
        }
    }
}

.gender-details {
    border: var(--radio-border-width) solid var(--color-white);
    border-radius: var(--card-radius);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: var(--card-padding);
    transition: border-color 0.2s ease-out;
}

.card:hover .gender-details {
    border-color: var(--color-dark-gray);
}

.radio:checked~.gender-details {
    border-color: var(--bg-dark);
}

.radio:focus~.gender-details {
    box-shadow: 0 0 0 2px var(--color-dark-gray);
}

.radio:disabled~.gender-details {
    color: var(--color-dark-gray);
    cursor: default;
}

.radio:disabled~.gender-details .gender-type {
    color: var(--color-dark-gray);
}

.card:hover .radio:disabled~.gender-details {
    border-color: var(--color-white);
    box-shadow: none;
}

.card:hover .radio:disabled {
    border-color: var(--color-white);
}

.gender-type {
    color: var(--bg-dark);
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1em;
    text-align: center;
}

.hidden-visually {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid var(--bg-dark);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--bg-light);
    max-width: 800px;
}

label {
    display: block;
    color: var(--font-dark);
    font-family: Outfit;
    font-size: 20px;
    margin: 20px 0;
    font-weight: 600;
}

button {
    text-decoration: none;
    padding: 14px 28px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border-style: none;
    background-color: var(--bg-dark);
    color: #fff;
    margin: 10px 0 20px;
}