nav {
    background-color: var(--nav-background);
    padding: 10px 20px;
    min-width: fit-content;
}

.navbar-container {
    max-width: 1200px;
    /* middle positioning */
    margin: auto auto;
    /* break between item */
    display: flex;
    justify-content: space-between;
}

.navbar-logo {
    max-width: 120px;
}

.navbar-link {
    display: flex;
    margin: auto 1rem;
    gap: 50px;
}

.navbar-toggle {
    display: none;
    max-width: 50px;
    font-size: var(--fs-s);
    font-weight: 700;
    text-align: center;
    background-color: var(--btn-yellow);
    color: black;
    border:none; 
    border-radius:10px; 
    padding:8px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 680px) {
    .navbar-container {
        padding: 10px 20px 20px;
        flex-direction: column;
    }

    .navbar-logo {
        margin-bottom: 10px;
    }

    .navbar-link {
        flex-direction: column;
        gap: 20px;
    }

    .hidden-mobile {
        display: none;
    }

    .navbar-toggle {
        display: block;
        min-width: fit-content;
    }
}

.navbar-link-item {
    color: var(--white);
}