:root {
    --nav-background: #B64A26;
    --white: #fff;
    --background-dark: #8E2800;
    --btn-yellow: #F3C500;

    --p-20: 120px;

    --fs-xl: 5rem;
}

@media screen and (max-width: 680px) {
    :root {
        --fs-xl: 3rem;
    }
}


body {
    font-family: 'Inter', sans-serif;
    font-family: 'Outfit', sans-serif;
}

img {
    max-width: 100%;
    margin: auto 0;
}

nav {
    background-color: var(--nav-background);
    padding: 0 20px;
}

.navbar-container {
    max-width: 1200px;
    /* middle positioning */
    margin: auto auto;
    /* break between item */
    display: flex;
    justify-content: space-between;
}

.navbar-logo {
    max-width: 120px;
}

.navbar-link {
    display: flex;
    margin: auto 1rem;
    gap: 50px;
}

@media screen and (max-width: 680px) {
    .navbar-container {
        padding: 20px 20px;
    }
    .navbar-link {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.navbar-link-item {
    color: var(--white);
}

a:link {
    text-decoration: none;
}

/* hero */
.hero {
    background-color: var(--background-dark);
}

.hero-container {
    background-color: var(--background-dark);
    margin: 0 auto 40px auto;
    padding: 0 40px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.hero h1 {
    max-width: 750px;
    color: var(--white);
    font-size: var(--fs-xl);
    font-family: Outfit;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.4px;
    margin-bottom: 40px;
}

.hero-link {
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
}

.hero-link-item {
    min-width: 38px;
    min-height: 38px;
    flex-shrink: 0;
    border-radius: 38px;
    background: var(--btn-yellow);
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-link-item-img {
    margin: auto;
}

.hero-cta-btn {
    display: block;
    text-decoration: none;
    max-width: fit-content;
    background-color: var(--btn-yellow);
    color: black;
    padding: 15px 50px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    margin-bottom: 20px;
}

@media screen and (max-width: 890px) {
    .hero-container {
        margin: 0 auto;
        padding: 0 40px;
        max-width: 1200px;
        display: grid;
        grid-template-areas: 
            ".hero-text"
            ".hero-img"
            ;
    }

    .hero-img {
        grid-area: hero-img;
    }

    .hero-text {
        grid-area: hero-text;
    }
}