:root {
    --nav-background: #B64A26;
    --white: #fff;
    --background-dark: #8E2800;
    --background-light: #FDF6E8;
    --font-dark: #8F2901;
    --btn-yellow: #F3C500;

    --p-20: 120px;

    --fs-xl: 5rem;
    --fs-l: 3rem;
    --fs-m: 2rem;
    --fs-s: 1.5rem;
}

@media screen and (max-width: 680px) {
    :root {
        --fs-xl: 3rem;
        --fs-l: 2rem;
        --fs-m: 1.5rem;
        --fs-s: 1.25rem;
    }
}


body {
    font-family: 'Inter', sans-serif;
    font-family: 'Outfit', sans-serif;
    background-color: var(--background-light);
}

img {
    max-width: 100%;
    margin: auto 0;
}

nav {
    background-color: var(--nav-background);
    padding: 0 20px;
}

.navbar-container {
    max-width: 1200px;
    /* middle positioning */
    margin: auto auto;
    /* break between item */
    display: flex;
    justify-content: space-between;
}

.navbar-logo {
    max-width: 120px;
}

.navbar-link {
    display: flex;
    margin: auto 1rem;
    gap: 50px;
}

@media screen and (max-width: 680px) {
    .navbar-container {
        padding: 20px 20px;
    }
    .navbar-link {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.navbar-link-item {
    color: var(--white);
}

a:link {
    text-decoration: none;
}

/* hero */
.hero {
    background-color: var(--background-dark);
}

.hero-container {
    background-color: var(--background-dark);
    margin: 0 auto 40px auto;
    padding: 0 40px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.hero h1 {
    max-width: 750px;
    color: var(--white);
    font-size: var(--fs-xl);
    font-family: Outfit;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.4px;
    margin-bottom: 40px;
}

.hero-link {
    max-width: 160px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.hero-link-item {
    min-width: 38px;
    min-height: 38px;
    flex-shrink: 0;
    border-radius: 38px;
    background: var(--btn-yellow);
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-link-item-img {
    margin: auto;
}

.hero-cta-btn {
    display: block;
    text-decoration: none;
    max-width: fit-content;
    background-color: var(--btn-yellow);
    color: black;
    padding: 15px 50px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    margin-bottom: 20px;
}

@media screen and (max-width: 890px) {
    .hero-container {
        margin: 0 auto;
        padding: 0 40px;
        max-width: 1200px;
        display: grid;
        grid-template-areas: 
            ".hero-text"
            ".hero-img"
            ;
    }

    .hero-img {
        grid-area: hero-img;
    }

    .hero-text {
        grid-area: hero-text;
    }
}

/* ingredient */
/* (mobile first) */
.ingredient {
    background-color: var(--background-light);
}

.ingredient-title {
    font-family: Outfit;
    font-style: normal;
    text-align: center;
    font-size: var(--fs-l);
    color: var(--background-dark);
}

.ingredient-container {
    background-color: var(--background-light);
    margin: 0 auto 40px auto;
    padding: 0 40px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}

/* for dekstop */
@media screen and (min-width: 890px) {
    .ingredient-container {
        flex-direction: row;
        justify-content: space-between;
    }
}

.ingredient-card{
    max-width: 300px;
    text-align: center;
}

.ingredient-card img{
    border-radius: 100%;
}

.ingredient-card h3{
    color: var(--font-dark);
    font-size: 30px;
}

/* statistics */
.graph-card {
    background-color: var(--background-dark);
    max-width: 1200px;
    border-radius: 16px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 0 auto 40px auto;
    padding: 40px 60px;
    max-width: fit-content;
}

@media screen and (max-width: 890px) {
    .graph-card {
        border-radius: 0px;
        margin: 0;
        padding: 0;
    }
}

.graph-card h2,
.graph-card p {
    color: var(--white);
}

.graph-card h2 {
    font-size: var(--fs-m);
    margin: 0;
}

.graph-card img {
    margin: 0 0;
    border-radius: 18px;
}

@media screen and (max-width: 890px) {
    .graph-card {
        text-align: center;
        padding: 40px;
    }

    .graph-card h2 {
        font-size: var(--fs-m);
    }
    
    .graph-card img {
        margin: 0;
        border-radius: 0px;
    }
}

/* article */
.articles-header {
    text-align: center;
    font-family: Outfit;
    font-style: normal;
    text-align: center;
    font-size: var(--fs-l);
    color: var(--background-dark);
}

.articles {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-card {
    max-width: 380px;
    margin: 0 20px 40px;
    padding: 36px 32px;
    border-radius: 16px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.article-card:hover {
    background-color: var(--background-dark);
    color: var(--white);
}

.article-card h3 {
    font-size: var(--fs-s);
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
}

.article-card img {
    border-radius: 16px;
}

.article-card a {
    color: inherit;
}

.card-inside-link:hover {
    text-decoration: underline;
}

/* for dekstop */
@media screen and (min-width: 1140px) {
    .articles {
        margin: auto;
        flex-direction: row;
        justify-content: space-between;
    }

    .article-card {
        max-width: 380px;
        min-height: 480px;
        margin: 0 0 40px;
        padding: 36px 32px;
        border-radius: 16px;
    }
}